SECRET_KEY=YOUR_SECRET_KEY
DEBUG=False
ALLOWED_HOSTS=127.0.0.1, localhost
DATABASE_URL=postgres://USER:PASS@HOST:PORT/DATABASE
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Sao_Paulo
STATIC_PATH=static
MEDIA_PATH=media